In [33]:
import pandas as pd
import csv

In [40]:
twilio = pd.read_csv(r"C:\Users\awa29\OneDrive\Bureau\Stage NLP\twilio.csv")

In [42]:
twilio

,ISO,Country,Description,Price / msg
0,NaN,Unknown,SATELLITE Outbound SMS - Com4 Sweden,0.1000
1,NaN,Unknown,SATELLITE Outbound SMS - Iridium Communications,0.1000
2,NaN,Unknown,SATELLITE Outbound SMS - Other,0.1000
3,AD,Andorra,ANDORRA Outbound SMS - Mobiland,0.1317
4,AD,Andorra,ANDORRA Outbound SMS - Other,0.1317
...,...,...,...,...
1088,ZM,Zambia,ZAMBIA Outbound SMS - ZAMTEL,0.2229
1089,ZW,Zimbabwe,ZIMBABWE Outbound SMS - Econet Wireless,0.1407
1090,ZW,Zimbabwe,ZIMBABWE Outbound SMS - NetOne,0.1407
1091,ZW,Zimbabwe,ZIMBABWE Outbound SMS - Other,0.1407
1092,ZW,Zimbabwe,ZIMBABWE Outbound SMS - Telecel,0.1407

In [43]:
twilio['Price / msg'].mean()

0.12404617566331246

In [55]:
twilio['Price / msg'].min()

prix_min = twilio['Price / msg'].min()
pays_prix_min = twilio.loc[twilio['Price / msg'].idxmin(), 'Country']

print(prix_min )
print(pays_prix_min)

0.0079
Canada

In [56]:
twilio['Price / msg'].max()

prix_max = twilio['Price / msg'].max()
pays_prix_max = twilio.loc[twilio['Price / msg'].idxmax(), 'Country']

print(prix_max )
print(pays_prix_max)

0.7096
Russia

In [46]:
prix_par_pays = twilio.groupby('Country')['Price / msg'].mean()
prix_par_pays

Country
Afghanistan             0.2337
Albania                 0.0910
Algeria                 0.2080
American Samoa          0.1881
Andorra                 0.1317
                         ...
Virgin Islands, U.S.    0.0200
Wallis and Futuna       0.1100
Yemen                   0.2391
Zambia                  0.2229
Zimbabwe                0.1407
Name: Price / msg, Length: 221, dtype: float64

In [50]:
twilio.groupby('Country')['Price / msg'].sum()

Country
Afghanistan             1.4022
Albania                 0.4550
Algeria                 0.8320
American Samoa          0.1881
Andorra                 0.2634
                         ...
Virgin Islands, U.S.    0.0200
Wallis and Futuna       0.1100
Yemen                   1.1955
Zambia                  0.8916
Zimbabwe                0.5628
Name: Price / msg, Length: 221, dtype: float64

In [49]:
prix_France= prix_par_pays['France']
prix_France

0.0798

Pays avec le prix moyen le plus élevé : Russia | Prix moyen : 0.7096

L'écart-type des prix par pays : 0.07759624787924244

In [64]:
Watshapp_price = pd.read_csv(r"C:\Users\awa29\OneDrive\Bureau\Stage NLP\Watshapp_price.csv",header=1)

In [65]:
Watshapp_price

,Market,Currency,Marketing,Utility,Authentication,Service
0,Argentina,€,0.0512,0.0338,0.0304,0.0261
1,Brazil,€,0.0518,0.0290,0.0261,0.0248
2,Chile,€,0.0736,0.0485,0.0437,0.0376
3,Colombia,€,0.0104,0.0071,0.0063,0.0050
4,Egypt,€,0.0889,0.0569,0.0512,0.0533
5,France,€,0.1186,0.0636,0.0572,0.0712
6,Germany,€,0.1131,0.0707,0.0636,0.0679
7,India,€,0.0083,0.0035,rate not finalized; reference utility rate,0.0033
8,Indonesia,€,0.0341,0.0166,0.0249,0.0157
9,Israel,€,0.0292,0.0155,0.014,0.0149
10,Italy,€,0.0572,0.0347,0.0313,0.0319
11,Malaysia,€,0.0712,0.0166,0.0149,0.0182
12,Mexico,€,0.0361,0.0220,0.0198,0.0087
13,Netherlands,€,0.1323,0.0663,0.0596,0.0738
14,Nigeria,€,0.0428,0.0265,0.0238,0.0257
15,Pakistan,€,0.0392,0.0210,0.0189,0.0118
16,Peru,€,0.0582,0.0347,0.0312,0.0149
17,Russia,€,0.0664,0.0395,0.0355,0.0329
18,Saudi Arabia,€,0.0336,0.0209,0.0187,0.0161
19,South Africa,€,0.0314,0.0166,0.0149,0.0139
20,Spain,€,0.0509,0.0315,0.0283,0.0305
21,Turkey,€,0.0090,0.0077,0.0069,0.0025
22,United Arab Emirates,€,0.0282,0.0164,0.0147,0.0157
23,United Kingdom,€,0.0584,0.0330,0.0297,0.0321
24,North America,€,0.0207,0.0124,0.0112,0.0073
25,Rest of Africa,€,0.0186,0.0133,0.0119,0.0300
26,Rest of Asia Pacific,€,0.0606,0.0391,0.0352,0.0185
27,Rest of Central & Eastern Europe,€,0.0712,0.0512,0.0461,0.0207
28,Rest of Latin America,€,0.0612,0.0409,0.0368,0.0351
29,Rest of Middle East,€,0.0282,0.0164,0.0147,0.0181
30,Rest of Western Europe,€,0.0490,0.0348,0.0313,0.0329
31,Other,€,0.0500,0.0280,0.0252,0.0120

In [66]:
print(Watshapp_price['Marketing'].describe())

count    32.000000
mean      0.051675
std       0.030315
min       0.008300
25%       0.030850
50%       0.050450
75%       0.062500
max       0.132300
Name: Marketing, dtype: float64

In [68]:
print(Watshapp_price['Utility'].describe())

count    32.000000
mean      0.030272
std       0.017668
min       0.003500
25%       0.016550
50%       0.028500
75%       0.039200
max       0.070700
Name: Utility, dtype: float64

In [74]:
import numpy as np

# Remplacer la valeur incorrecte par NaN
Watshapp_price['Authentication'] = Watshapp_price['Authentication'].replace('rate not finalized; reference utility rate', np.nan)

# Convertir la colonne en type float
Watshapp_price['Authentication'] = Watshapp_price['Authentication'].astype(float)

# Calculer la moyenne sans tenir compte des valeurs NaN
mean_authentication = Watshapp_price['Authentication'].mean(skipna=True)

# Remplacer les valeurs NaN par la moyenne
Watshapp_price['Authentication'].fillna(mean_authentication, inplace=True)

In [75]:
print(Watshapp_price['Authentication'].describe())

count    32.000000
mean      0.028323
std       0.015112
min       0.006300
25%       0.014900
50%       0.027200
75%       0.035275
max       0.063600
Name: Authentication, dtype: float64

In [76]:
print(Watshapp_price['Service'].describe())

count    32.000000
mean      0.025722
std       0.018591
min       0.002500
25%       0.014650
50%       0.019600
75%       0.032300
max       0.073800
Name: Service, dtype: float64

In [78]:
# Calculer la moyenne des colonnes de prix
mean_prices = Watshapp_price[['Marketing', 'Utility', 'Authentication', 'Service']].mean()

# Afficher les moyennes
print(mean_prices)
print(mean_prices.mean())

Marketing         0.051675
Utility           0.030272
Authentication    0.028323
Service           0.025722
dtype: float64
0.03399783266129032

In [67]:
france_data = Watshapp_price[Watshapp_price['Market'] == 'France']
print(france_data)

   Market Currency  Marketing  Utility Authentication  Service
5  France        €     0.1186   0.0636         0.0572   0.0712

In [83]:
# Calculer la moyenne des colonnes de prix pour la France
mean_france_prices = france_data[['Marketing', 'Utility', 'Authentication', 'Service']].mean()

print(mean_france_prices.mean())

0.07765

In [88]:
Watshapp_price["Market"]

0                            Argentina
1                               Brazil
2                                Chile
3                             Colombia
4                                Egypt
5                               France
6                              Germany
7                                India
8                            Indonesia
9                               Israel
10                               Italy
11                            Malaysia
12                              Mexico
13                         Netherlands
14                             Nigeria
15                            Pakistan
16                                Peru
17                              Russia
18                        Saudi Arabia
19                        South Africa
20                               Spain
21                              Turkey
22                United Arab Emirates
23                      United Kingdom
24                       North America
25                      Rest of Africa
26                Rest of Asia Pacific
27    Rest of Central & Eastern Europe
28               Rest of Latin America
29                 Rest of Middle East
30              Rest of Western Europe
31                               Other
Name: Market, dtype: object

In [84]:
Watshapp_price_code = pd.read_csv(r"C:\Users\awa29\OneDrive\Bureau\Stage NLP\Watshapp_price_code.csv")

In [85]:
Watshapp_price_code

,Country,Region,"Country calling code (and network prefix, where applicable)"
0,Afghanistan,Rest of Asia Pacific,93
1,Albania,Rest of Central & Eastern Europe,355
2,Algeria,Rest of Africa,213
3,All other countries,Other,varies by country
4,Angola,Rest of Africa,244
...,...,...,...
135,Uzbekistan,Rest of Asia Pacific,998
136,Venezuela,Rest of Latin America,58
137,Vietnam,Rest of Asia Pacific,84
138,Yemen,Rest of Middle East,967
139,Zambia,Rest of Africa,260

In [92]:
vonage= pd.read_csv(r"C:\Users\awa29\OneDrive\Bureau\Stage NLP\vonage.csv")

In [93]:
vonage

,Country Code,Country Name,Prefix,Price (EUR) / message,Valid from (UTC)
0,AC,Ascension Island,247,0.1000,2016-04-11 15:00
1,AD,Andorra,376,0.1133,2023-04-10 22:00
2,AE,United Arab Emirates,971,0.1051,2022-09-19 01:00
3,AF,Afghanistan,93,0.2062,2023-04-10 22:00
4,AG,Antigua and Barbuda,1268,0.0975,2022-11-14 01:00
...,...,...,...,...,...
224,YE,Yemen,967,0.2041,2022-09-19 01:00
225,YT,Mayotte,269,0.1600,2016-10-14 11:00
226,ZA,South Africa,27,0.0231,2019-11-15 16:00
227,ZM,Zambia,260,0.1745,2023-04-10 23:00
228,ZW,Zimbabwe,263,0.1300,2022-08-18 09:00

In [97]:
vonage.columns

Index(['Country Code', 'Country Name', 'Prefix', 'Price (EUR) / message',
       'Valid from (UTC)'],
      dtype='object')

In [98]:
vonage['Price (EUR) / message']

0      0.1000
1      0.1133
2      0.1051
3      0.2062
4      0.0975
        ...
224    0.2041
225    0.1600
226    0.0231
227    0.1745
228    0.1300
Name: Price (EUR) / message, Length: 229, dtype: float64

In [107]:
moyenne_vonage=vonage['Price (EUR) / message'].mean()
moyenne_vonage

0.09949384279475981

In [108]:
moyenne_waths=mean_prices.mean()
moyenne_waths

0.03399783266129032

In [109]:
moyenne_twilio=twilio['Price / msg'].mean()
moyenne_twilio

0.12404617566331246

In [111]:
moyenne= (moyenne_vonage + moyenne_waths+ moyenne_twilio ) / 3
moyenne

0.08584595037312086